<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
 <add name="ArachnodeConnectionString" connectionString="Data Source=.;Initial Catalog=arachnode.net;Integrated Security=True;Connection Timeout=3600;"
  providerName="System.Data.SqlClient" />
 <add name="Arachnode.Next.Properties.Settings.ArachnodeNext_CrawlRequestsConnectionString"
  connectionString="Data Source=|DataDirectory|\DataSource\ArachnodeNext_CrawlRequests.sdf"
  providerName="Microsoft.SqlServerCe.Client.3.5" />
 <add name="Arachnode.Next.Properties.Settings.ArachnodeNext_DiscoveriesConnectionString"
  connectionString="Data Source=|DataDirectory|\DataSource\ArachnodeNext_Discoveries.sdf"
  providerName="Microsoft.SqlServerCe.Client.3.5" />
 <add name="Arachnode.Next.Properties.Settings.ArachnodeNext_ExceptionsConnectionString"
  connectionString="Data Source=|DataDirectory|\DataSource\ArachnodeNext_Exceptions.sdf"
  providerName="Microsoft.SqlServerCe.Client.3.5" />
</connectionStrings>