<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections></configSections>
	<connectionStrings>
  <add name="ArachnodeConnectionString" connectionString="Data Source=.;Initial Catalog=arachnode.net;Integrated Security=True;Connection Timeout=3600;"
   providerName="System.Data.SqlClient" />
  <add name="Arachnode.DataSource.Properties.Settings.ArachnodeConnectionString"
   connectionString="Data Source=.;Initial Catalog=arachnode.net;Integrated Security=True;Connection Timeout=3600;"
   providerName="System.Data.SqlClient" />
  <add name="Arachnode.DataSource.Properties.Settings.arachnode_netConnectionString"
   connectionString="Data Source=.;Initial Catalog=arachnode.net;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Arachnode.DataSource.Properties.Settings.Arachnode_Discoveries_Next_ConnectionString"
   connectionString="Data Source=|DataDirectory|\Next\arachnode.net_Discoveries.Next.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="Arachnode.DataSource.Properties.Settings.Arachnode_CrawlRequests_Next_ConnectionString"
   connectionString="Data Source=|DataDirectory|\Next\arachnode.net_CrawlRequests.Next.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="Arachnode.DataSource.Properties.Settings.Arachnode_Exceptions_Next_ConnectionString"
   connectionString="Data Source=|DataDirectory|\Next\arachnode.net_Exceptions.Next.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
</configuration>